*.pyc
*.npy
*.jpg
*.png
*.npy
/tmp
/output
/results
/tag*
lamecommands.txt
lsuv*
/Image*
/trained_models
/__pycache__
/Image*
/runs
/ckpt
vault.py
results.txt
readexif.py
config/*
*.sh
*single.py
*misc*
.idea*
venv/**
demo/*.model
